.maintext {
  text-align: center;
  margin-bottom: 50px;
}

.searchbox {
  padding: 30px;
  border-left: 1px solid rgba(128, 128, 128, 0.322);
}

.searchbox button{
  margin-bottom: 30px;
}

.repeatbox {
  border:  1px solid rgba(128, 128, 128, 0.309);
  padding: 5px;
}